:root {
  --primary: #0c4744;
  --secondary: #2a7774;
  --text: #c1d7d6;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--primary);
  color: var(--text);
  font-family: Montserrat;
}

header {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  background-color: var(--secondary);
  height: 75px;
  line-height: 75px;
  top: 0;
  left: 0;
  right: 0;
}

header * {
  display: inline;
  height: 75px;
}

header ul {
  padding: 0px;
}

header li {
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}

header * a {
  text-decoration: none;
  color: var(--text);
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

#landing-area {
  margin: auto;
  color: var(--text);
}

#landing-area .article-contents {
  display: flex;
  align-items: center;
}

#self-description h1 {
  margin-bottom: 5px;
}

#self-description h3 {
  margin-top: 5px;
}

#pfp {
  border-radius: 50%;
  width: 300px;
  height: auto;
  margin-right: 50px;
}

#about-me {
  width: 500px;
  margin: auto;
}

#about-me button {
  background-color: var(--primary);
  border: 2px solid var(--text);
  color: var(--text);
  font-size: 1.5em;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

#about-me button:hover {
  transform: scale(1.1);
}

#contact-info ul {
  padding: 0;
  margin: 0;
}

#contact-info ul li {
  display: inline;
  margin: 10px;
  font-size: 3em;
}

#contact-info * a {
  text-decoration: none;
  color: var(--text);
}

#contact-info * a:hover i {
  transform: scale(1.2);
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

h2 {
  font-size: 2.5em;
  font-weight: 100;
}

h3 {
  font-size: 1.5em;
  font-weight: 100;
}

p {
  text-align: justify;
  font-size: 1.25em;
}

footer {
  text-align: center;
}
